@page
@model webapp_sam_lab13.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="File">Upload a file</label>
        <input type="file" asp-for="File" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

@if (Model.FileUrl != null)
{
    <div class="mt-3">
        <p>File uploaded successfully. Access the file <a href="@Model.FileUrl" target="_blank">here</a>.</p>
    </div>
}
